/* style.css */
.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
}

.content {
    width: 80%;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Sesuaikan dengan warna dan font yang Anda inginkan */
body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}

.add-button {
    background-color: blue; /* Hijau */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }